<html>

<head>
    <title>Example Domain</title>
    <link rel="icon" href="/image/katrina.jfif" type="image/x-icon">


</head>

<body>
    <div>
        <p>
            {{>header}}
            <h1>Example Domain</h1>
        </p>
        <p>This domain is for use in illustrative examples in documents. You may use this<br>
            domain in literature without prior coordination or asking for permission.</p>
        <p><a href="https://www.iana.org/domains/reserved">More information...</a></p>

        {{>footer}}
    </div>
</body>

</html>